footer {
  width: 100%;
  padding: 10px;
  background: rgb(206, 166, 188);
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  height:50px;
}

.footer-content {
  display: flex;
  align-items: center; 
  
}

img {
  max-width: 150px; 
  
}

.social-icons {
  display: flex;
  gap: 10px; 
}

.icon {
   
  color: #090909; 
  cursor: pointer; 
}
